.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3 !important;
  border-color: #0070f3 !important;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  /* font-size: 1.25rem; */
  max-width: fit-content;
  line-height: 1.5;
}


.cardPlaceholder{
  height: 230px;
  background-color: #D4D4D4;
  text-align: center;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  padding: 30px;
}

.cardPlaceholder span{
  margin: auto;

}